* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('/Image/header.png') no-repeat center center;
    background-size: cover;
    color: black;
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 15px;
}


.logo {
    text-align: center;
    font-family: 'DynaPuff', system-ui;
    position: relative;
    padding: 20px;
}

.uno, .challenge {
    text-shadow: 
        0px 0px 10px rgba(255, 255, 255, 1),  
        0px 0px 20px rgba(255, 255, 255, 0.8),  
        0px 0px 30px rgba(255, 255, 255, 0.6);  
    position: relative;
    z-index: 2;
}

.uno::before, .challenge::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180%;
    height: 180%;
    background: rgba(255, 255, 255, 0.4);
    filter: blur(20px);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.uno {
    color: #ffc919;
    font-size: 9vw;
    font-weight: 900;
}

.challenge{
    color: #28527A;
    font-size: 6.5vw;
    font-weight: 800;
}


.dynapuff{
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

nav {
    background-color: #28527A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    height: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 10px;
    transition: background-color 0.3s;
    font-size: 16px;
    padding: 8px 0px;
}


nav a:hover {
    background-color: #8AC4D0;
    border-radius: 5px;
}


@media only screen and (min-width: 600px) {

    header {
        height: 250px;
        padding: 20px;
    }
    .uno{
        font-size: 4vw;
    }
    
    .challenge {
        font-size: 2.5vw;
    }

    nav a {
        font-size: 18px;
        padding: 10px 15px;
    }
}