.progress-bar {
  display: flex;
  width: 100%;
  height: 30px;
  background: lightgray;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 5px;
  transition: width 0.3s ease-in-out;
}

.content {
  margin: 5% 5%;
}

h1 {
  color: #000000;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 10%;
  font-size: 1.8rem;
}

h2 {
  margin-top: 2%;
  color: #28527A;
  text-align: center;
  font-size: 1.5rem;
}

.buttons {
  margin-top: 15%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 10px;
  background-color: #28527A;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  width: auto;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}

button:hover {
  transform: scale(1.1);
}

#gamePin {
  color: #28527A;
  text-align: center;
  font-size: 1.4rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalContent {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  min-height: 200px;
  max-height: 90vh;
  position: relative;
  color: #28527A;
  text-align: center;
  font-weight: bold;
  border-color: #000000;
  border-style: groove;
  overflow-y: auto;
}

h3 {
  margin-top: 2%;
  color: #28527A;
  text-align: center;
  font-size: 1.2rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player {
  display: flex;
  align-items: center;
  gap: 5px;
}

.option {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  gap: 20px;
  background-color: #28527A;
}

.option:hover {
  background-color: #ffc919;
}

.scoreboard-container {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

.score-item {
  display: flex;
  align-items: center;
  width: 100%;
  background: #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  height: 40px;
}

.score-bar {
  background: #28527A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  height: 100%;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.score-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .scoreboard-container {
    width: 50%;
    max-width: 800px;
  }

  .score-bar {
    padding: 15px;
    font-size: 18px;
  }

  .score-text {
    font-size: 18px;
  }
}