.content {
    display: flex;
    flex-direction: column;
    margin: 15% 10%;
    gap: 25px;
}

h1 {
    margin-top: 10%;
    font-size: 1.8rem;
    color: #000000;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: 80px;
    max-width: 600px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #3771a2, #ffd140);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container.create {
    background-color: #FBEEAC;
}

.container.join {
    background-color: #8AC4D0;
    display: block;
}

.container.profile {
    background-color: #8AC4D0;
}

.btn {
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    padding: 12%;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #28527A;
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    height: 400px;
    position: relative;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

button.level {
    background-color: #ffd140;
    color: #fff;
    border-radius: 25px;
    width: 60%;
    height: 50px;
    font-size:small;
    font-weight: bold;
}

button.level:hover {
    background-color: rgb(134, 108, 4);
    transform: scale(1.1);
}

@media only screen and (min-width: 600px) {
    .content {
        margin: 3% 10% 0 10%;
        justify-content: space-around;
        gap: 50px;
        flex-direction: row;
    }

    h1 {
        margin-top: 0%;
        font-size: 3.2rem;
    }

    .container {
        gap: 0px;
        height: 500px;
    }

    .btn {
        font-size: 35px;
        padding: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container.join {
        display: none;
    }

    button.join{
        display: none;
    }

    button.level{
        font-size:larger;
        font-weight: bold;
    }

    .modalContent{
        width: 50%;
        font-size:larger;
        font-weight: bold;
    }
}