.content {
    margin: 1% 10% 0 10%;
}

h1 {
    color: #000000;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 10%;
    font-size: 1.8rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 5%;
}

input {
    max-width: 150px;
    border: 3px solid #000000f8;
    border-radius: 4px;
    height: 30px;
}

.btn{
    margin-top: 30%;
    text-align: center;
}

button{
    min-width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #28527A;
    color: aliceblue;
    font-weight: bolder;
}

button:hover{
    transform: scale(1.1);
}

@media only screen and (min-width: 600px) {
    .content {
        margin: 3% 10% 0 10%;
    }

    h1 {
        margin-top: 0%;
        font-size: 3.2rem;
    }

    form{
        margin-top: 5%;
    }

    .btn{
        margin-top: 10%;
        text-align: center;
    }

    label{
        font-size: 25px;
        margin-bottom: 2%;
    }
}
