.content {
  margin: 0% 10% 5% 10%;
}

form {
  max-width: 700px;
  margin: 1% auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border-color: #28527A;
  border-style: groove;
}

.formComponent {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 7px 8px;
  background-color: #28527A;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  width: auto;
  min-width: 75px;
}

button:hover {
  transform: scale(1.1);
}

a {
  display: block;
  text-align: center;
  font-size: 0.8rem;;
}


h3 {
  margin-top: 5%;
  text-align: center;
  font-size: 0.8rem;
}

h1 {
  color: #000000;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 10%;
  font-size: 1.8rem;
}

@media only screen and (min-width: 600px) {
  .content {
    margin: 3% 10% 0 10%;
  }

  h1 {
    margin-top: 0%;
    font-size: 3.2rem;
  }

  .formComponent{
    flex-direction: row;
    margin-bottom: 8%;
  }

  button{
    min-width: 140px;
  }

  input {
    font-size: 14px;
    padding: 6px;
    
  }

  label {
    font-size: 18px;
    padding-right: 5%;
    min-width: 200px;
  }
  
  form{
    padding-top: 50px;
  }

  h3{
    margin-top: 3%;
    font-size: 1.2rem;
  }

  a{
    font-size: 1.2rem;
  }

}