.content {
    margin: 5% 5%;
}

h1 {
    color: #000000;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 10%;
    font-size: 1.8rem;
}


.rules {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    width: 90%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
}

.container.blue {
    background: #016fcd;
    margin-bottom: 6%;
}

.container.yellow {
    background: #f0d326;
}

.container.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    transition: opacity 0.4s, transform 0.1s;
}

.container.overlay.red {
    background: rgba(255, 2, 2, 0.7);
}

.container.overlay.green {
    background: rgba(63, 198, 6, 0.7);
}

.container.rules {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transform: scale(0.9);
    transition: opacity 0.4s, transform 0.4s;
}


.container:hover .overlay {
    opacity: 0;
    transform: scale(1.1);
}

.container:hover .rules {
    opacity: 1;
    transform: scale(1);
}

ul {
    margin-right: 7%;
    line-height: 20px;
}

p {
    font-size: 100%;
}


@media only screen and (min-width: 600px) {
    .content {
        margin: 3% 10% 0 10%;
    }

    h1 {
        margin-top: 0%;
        font-size: 3.3rem;
    }
    
    .rules {
        flex-direction: row;
    }

    .container {
        width: 40%;
    }

    .container.blue{
        margin-bottom: 0%;
    }

    p {
        font-size: 120%;
    }

    li{
        font-size: 120%;
    }

    ul{
        line-height: 30px;
    }

}

